* :focus{
    outline:solid;
    outline-offset: 2px;
    outline-width: thin;
    outline-color: rgb(89, 138, 236);
  }
  
* {
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
    padding: 0;
    margin: 0 0;
    box-sizing: border-box;
  }
  
html {
    /* default 1.6rem */
    /* 1px / 1.6rem = 0.625  */
    font-size: 62.5%;   /* current 1rem = 1rem */
    scroll-behavior: smooth;
  }
  
body {
      max-width: 100%;
}


.myform{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 0.6rem;
}

.form-div{
    font-size: 2rem;
}