{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Blackcoffee | Dashboard</title>
  <link rel="stylesheet" type="text/css" href="{% static 'dash/style.css' %}" />
</head>

<body>
  <div class="chart-menu">
    <p><span style="color: black">Blackcoffee</span> | Dashboard</p>
  </div>
  
  <h1>Filter Data</h1>
  <form method="post" action="{% url 'index' %}">
    {% csrf_token %}
    
    <label for="{{ form.end_year.id_for_label }}">End Year:</label>
    {{ form.end_year }}
    
    <label for="{{ form.country.id_for_label }}">Country:</label>
    {{ form.country }}
    
    <label for="{{ form.topic.id_for_label }}">Topic:</label>
    {{ form.topic }}
    
    <label for="{{ form.region.id_for_label }}">Region:</label>
    {{ form.region }}
    
    <label for="{{ form.pestle.id_for_label }}">Pestle:</label>
    {{ form.pestle }}
    
    <label for="{{ form.sector.id_for_label }}">Sector:</label>
    {{ form.sector }}
    
    <label for="{{ form.source.id_for_label }}">Source:</label>
    {{ form.source }}
    
    <button type="submit">Search</button>
</form>

    
  <div class="chart-card">
    <div class="chart-box">
      <canvas id="myChartIntensity"></canvas>
    </div>
  </div>
  
  <div class="chart-card">
    <div class="chart-box">
      <canvas id="myChartLikelihood"></canvas>
    </div>
  </div>

  <div class="chart-card">
    <div class="chart-box">
      <canvas id="myChartRelevance"></canvas>
    </div>
  </div>

  <div class="chart-card">
    <div class="chart-box">
      <canvas id="myChartYear"></canvas>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{% static 'dash/script.js' %}"></script>
</body>

</html>