{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Blackcoffee | Dashboard</title>
  <link rel="stylesheet" type="text/css" href="{% static 'dash/style.css' %}" />
</head>

<body>
  <div class="chart-menu">
    <p><span style="color: black">Blackcoffee</span> | Dashboard</p>
  </div>
  <div class="chart-card">
    <div class="chart-box">
      <canvas id="myChart"></canvas>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{% static 'dash/script.js' %}"></script>
</body>

</html>